@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400&display=swap");
@-webkit-keyframes spinAround {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
@keyframes spinAround {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
@-webkit-keyframes spinAroundC {
  from {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
@keyframes spinAroundC {
  from {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}
code {
  display: inline-block;
  margin: 1px 2px;
  padding: 0.5em;
  border-radius: 5px;
  background: #282c34;
  font-family: "Source Code Pro", "맑은고딕", "Noto Sans KR", monospace;
  color: #abb2bf;
  line-height: 1.3;
  vertical-align: middle;
}

.bd-example,
.bd-structure,
.bd-snippet {
  border: 1px solid #ee9900;
  position: relative;
}

.bd-example:before,
.bd-structure:before,
.bd-snippet:before {
  background: #ee9900;
  border-radius: 0 0 0 0;
  bottom: 100%;
  content: "Example";
  display: inline-block;
  font-size: 7px;
  font-weight: bold;
  left: -1px;
  letter-spacing: 1px;
  padding: 3px 5px;
  position: absolute;
  text-transform: uppercase;
  vertical-align: top;
}

@media screen and (max-width: 1038px), print {
  .bd-example.is-fullwidth,
  .bd-structure.is-fullwidth,
  .bd-snippet.is-fullwidth {
    border-left: none;
    border-right: none;
    padding: 0;
  }
}
.bd-example,
.bd-structure {
  padding: 1.5rem;
}

.bd-example:not(:first-child),
.bd-structure:not(:first-child) {
  margin-top: 2rem;
}

.bd-example:not(:last-child),
.bd-structure:not(:last-child) {
  margin-bottom: 1.5rem;
}

.bd-example.bd-is-clipped {
  border-top-right-radius: 6px;
}

.bd-example + .highlight {
  border: 1px solid #ee9900;
  border-radius: 0 0 2px 2px;
  border-top: none;
  margin-top: -1.5rem;
}

.bd-example + .highlight:not(:last-child) {
  margin-bottom: 1.5rem;
}

.bd-snippet {
  border: 1px solid #ee9900;
  margin-top: 2rem;
  position: relative;
}

.bd-snippet::before {
  content: "Preview";
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bd-snippet-preview {
  padding: 1.5rem;
}

.bd-snippet-code .hljs {
  font-family: "Source Code Pro", "맑은고딕", "Noto Sans KR", monospace;
}

.bd-snippet-code.bd-is-more.bd-is-more-clipped .highlight {
  height: 2em;
  overflow: hidden;
}

.bd-snippet-code.bd-is-more.bd-is-more-clipped .highlight pre {
  overflow: hidden;
}

.bd-snippet-code.bd-is-more.bd-is-more-clipped .highlight .bd-show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bd-snippet.bd-is-horizontal {
  border-radius: 6px;
  border-top-left-radius: 0;
}

.bd-snippet.bd-is-horizontal .bd-snippet-code.bd-is-more.bd-is-more-clipped .highlight pre {
  padding-top: 0.325rem;
}

.bd-snippet.bd-is-clipped .bd-snippet-code {
  overflow: auto;
}

@media screen and (min-width: 1039px) {
  .bd-snippet.bd-is-vertical {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    border-radius: 6px;
    border-top-left-radius: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .bd-snippet.bd-is-vertical .bd-snippet-preview,
  .bd-snippet.bd-is-vertical .bd-snippet-code {
    width: 50%;
  }
  .bd-snippet.bd-is-vertical .bd-snippet-code,
  .bd-snippet.bd-is-vertical .bd-snippet-code .highlight,
  .bd-snippet.bd-is-vertical .bd-snippet-code .highlight pre {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    border-radius: 0 6px 6px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .bd-snippet.bd-is-vertical .bd-snippet-code .highlight,
  .bd-snippet.bd-is-vertical .bd-snippet-code .highlight pre,
  .bd-snippet.bd-is-vertical .bd-snippet-code .highlight .language-html {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .bd-snippet.bd-is-vertical .bd-snippet-code .highlight pre {
    white-space: pre;
  }
  .bd-snippet.bd-is-vertical.bd-is-one-fifth .bd-snippet-preview {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: calc(128px + 3rem);
  }
  .bd-snippet.bd-is-vertical.bd-is-one-fifth .bd-snippet-code {
    width: calc(100% - 128px - 3rem);
  }
  .bd-snippet.bd-is-vertical.bd-is-two-fifths .bd-snippet-preview {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: calc(256px + 3rem);
  }
  .bd-snippet.bd-is-vertical.bd-is-two-fifths .bd-snippet-code {
    width: calc(100% - 256px - 3rem);
  }
  .bd-snippet.bd-is-vertical.bd-is-one-third .bd-snippet-preview {
    width: 33.3333%;
  }
  .bd-snippet.bd-is-vertical.bd-is-one-third .bd-snippet-code {
    width: 66.6666%;
  }
}
.highlight.bd-is-hovering {
  border-radius: 2px;
  -webkit-box-shadow: 0 0 0 2px #ee9900;
          box-shadow: 0 0 0 2px #ee9900;
}

.highlight pre {
  max-height: 320px;
  margin-bottom: 0 !important;
}

.highlight-full:not(:last-child),
#navbarJsExample:not(:last-child) {
  margin-bottom: 1.5rem;
}

.highlight-full .highlight pre,
#navbarJsExample .highlight pre {
  max-height: none;
}

.bd-structure {
  border-color: #ff0000;
  border-radius: 0;
  padding: 1.5rem;
}

.bd-structure:before {
  background: #ff0000;
  color: #fff;
  content: "Structure";
}

.bd-structure-item {
  position: relative;
}

.bd-structure-item:before {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  background: rgba(34, 34, 34, 0.7);
  background: hsl(0, 0%, 96%);
  border: 1px solid #d9d9d9;
  content: "";
  display: block;
  z-index: 1;
}

.bd-structure-item:after {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  content: attr(title);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: monospace;
  font-size: 11px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3px 5px;
  z-index: 2;
}

.bd-structure-item.bd-is-structure-container {
  padding: 1.5rem 0.75rem 0.75rem;
}

.bd-structure-item.bd-is-structure-container:after {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 0.5rem 0.75rem;
}

.highlight {
  position: relative;
}

.highlight .bd-copy,
.highlight .bd-expand {
  background: none;
  border: none;
  color: #222;
  cursor: pointer;
  font-size: 0.625rem;
  padding-bottom: 0;
  padding-top: 0;
  position: absolute;
  right: 0.25rem;
  top: 0.25rem;
}

.highlight .bd-copy:hover,
.highlight .bd-expand:hover {
  background-color: #ee9900;
}

.highlight .bd-copy:focus, .highlight .bd-copy:active,
.highlight .bd-expand:focus,
.highlight .bd-expand:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.highlight .bd-copy {
  min-width: auto;
  height: auto;
  padding: 1em;
  color: #ee9900;
}

.highlight .bd-expand {
  right: 45px;
}

.highlight .bd-show {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(245, 245, 245, 0.7);
  border: none;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.highlight .bd-show strong {
  color: currentColor;
  font-weight: 600;
}

.highlight .bd-show:hover {
  background-color: rgba(238, 153, 0, 0.8);
  color: rgba(0, 0, 0, 0.7);
}

@media screen and (max-width: 1038px), print {
  .highlight pre {
    white-space: pre-wrap;
  }
}
@media screen and (max-width: 1038px), print {
  .section:not(.is-fullwidth) > .bd-example:not(.is-fullwidth) {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  .section:not(.is-fullwidth) > .bd-example:not(.is-fullwidth) + .highlight {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}
.section .title {
  margin-bottom: 0.5em;
}

.section .subtitle {
  margin-top: 1.5em;
  margin-bottom: 1em;
}

.section.is-fullwidth {
  padding: 0 !important;
}

.section.is-fullwidth .bd-snippet {
  border-left: none;
  border-radius: 0;
  border-right: none;
}

.section.is-fullwidth .bd-example {
  border-left: none;
  border-radius: 0;
  border-right: none;
  padding: 0;
}

.section.is-fullwidth .bd-example + .highlight {
  border-left: none;
  border-radius: 0;
  border-right: none;
}

/*!
  Theme: Default
  Description: Original highlight.js style
  Author: (c) Ivan Sagalaev <maniac@softwaremaniacs.org>
  Maintainer: @highlightjs/core-team
  Website: https://highlightjs.org/
  License: see project LICENSE
  Touched: 2021
*/
pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
  border-radius: 0;
}

code.hljs {
  padding: 3px 5px;
}

/*
Atom One Dark With support for ReasonML by Gidi Morris, based off work by Daniel Gamage
Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax
*/
.hljs {
  color: #abb2bf;
  background: #282c34;
  font-size: 13px;
}

.hljs-keyword,
.hljs-operator {
  color: #f92672;
}

.hljs-pattern-match {
  color: #f92672;
}

.hljs-pattern-match .hljs-constructor {
  color: #61aeee;
}

.hljs-function {
  color: #61aeee;
}

.hljs-function .hljs-params {
  color: #a6e22e;
}

.hljs-function .hljs-params .hljs-typing {
  color: #fd971f;
}

.hljs-module-access .hljs-module {
  color: #7e57c2;
}

.hljs-constructor {
  color: #e2b93d;
}

.hljs-constructor .hljs-string {
  color: #9ccc65;
}

.hljs-comment,
.hljs-quote {
  color: #b18eb1;
  font-style: italic;
}

.hljs-doctag,
.hljs-formula {
  color: #c678dd;
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: #e06c75;
}

.hljs-literal {
  color: #56b6c2;
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta .hljs-string {
  color: #98c379;
}

.hljs-built_in,
.hljs-title.class_,
.hljs-class .hljs-title {
  color: #e6c07b;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #d19a66;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: #61aeee;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}

body {
  padding: 50px;
  height: auto;
}

.button,
.input,
.pagination-ellipsis,
.pagination-link,
.pagination-next,
.pagination-previous,
.select select,
.textarea {
  border-width: 1px;
}

.mb3 {
  margin-bottom: 3rem;
}

.mb4 {
  margin-bottom: 4rem;
}

.subtitle + p {
  font-size: 0.9rem;
  margin-top: -1rem;
  margin-bottom: 1.5rem;
  color: #999;
}

.box {
  background-color: #fff;
  border-radius: 6px;
  -webkit-box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
          box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  color: #4a4a4a;
  display: block;
  padding: 1.25rem;
}

.contents {
  margin-bottom: 1.5rem;
}

svg:not(:root).svg-inline--fa {
  overflow: visible;
}

.svg-inline--fa {
  display: inline-block;
  font-size: inherit;
  height: 1em;
  overflow: visible;
  vertical-align: -0.125em;
}
.svg-inline--fa.fa-lg {
  vertical-align: -0.225em;
}
.svg-inline--fa.fa-w-1 {
  width: 0.0625em;
}
.svg-inline--fa.fa-w-2 {
  width: 0.125em;
}
.svg-inline--fa.fa-w-3 {
  width: 0.1875em;
}
.svg-inline--fa.fa-w-4 {
  width: 0.25em;
}
.svg-inline--fa.fa-w-5 {
  width: 0.3125em;
}
.svg-inline--fa.fa-w-6 {
  width: 0.375em;
}
.svg-inline--fa.fa-w-7 {
  width: 0.4375em;
}
.svg-inline--fa.fa-w-8 {
  width: 0.5em;
}
.svg-inline--fa.fa-w-9 {
  width: 0.5625em;
}
.svg-inline--fa.fa-w-10 {
  width: 0.625em;
}
.svg-inline--fa.fa-w-11 {
  width: 0.6875em;
}
.svg-inline--fa.fa-w-12 {
  width: 0.75em;
}
.svg-inline--fa.fa-w-13 {
  width: 0.8125em;
}
.svg-inline--fa.fa-w-14 {
  width: 0.875em;
}
.svg-inline--fa.fa-w-15 {
  width: 0.9375em;
}
.svg-inline--fa.fa-w-16 {
  width: 1em;
}
.svg-inline--fa.fa-w-17 {
  width: 1.0625em;
}
.svg-inline--fa.fa-w-18 {
  width: 1.125em;
}
.svg-inline--fa.fa-w-19 {
  width: 1.1875em;
}
.svg-inline--fa.fa-w-20 {
  width: 1.25em;
}
.svg-inline--fa.fa-pull-left {
  margin-right: 0.3em;
  width: auto;
}
.svg-inline--fa.fa-pull-right {
  margin-left: 0.3em;
  width: auto;
}
.svg-inline--fa.fa-border {
  height: 1.5em;
}
.svg-inline--fa.fa-li {
  width: 2em;
}
.svg-inline--fa.fa-fw {
  width: 1.25em;
}

.color-chips li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 150px;
  height: 100px;
  margin: 0.1em;
  padding: 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.color-chips li p {
  margin: 0;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}
.color-chips li.color-primary {
  background-color: #153448;
}
.color-chips li.color-point {
  background-color: #0085ff;
}
.color-chips li.color-grey {
  background-color: #434343;
}
.color-chips li.color-grey-dark {
  background-color: #333;
}
.color-chips li.color-grey-light {
  background-color: #7a8084;
}
.color-chips li.color-grey-lighter {
  background-color: #bcbcbc;
}
.color-chips li.color-grey-lightest {
  background-color: #ececec;
}
.color-chips li.color-grey-lightest p {
  color: #222;
}
.color-chips li.color-error {
  background-color: #ff3737;
}
.color-chips li.color-error-dark {
  background-color: #910b08;
}
.color-chips li.color-error-light {
  background-color: #fcd0cf;
}
.color-chips li.color-error-light p {
  color: #222;
}
.color-chips li.color-warning {
  background-color: #ee9900;
}
.color-chips li.color-warning-dark {
  background-color: #7f4c0a;
}
.color-chips li.color-warning-light {
  background-color: #fbf3d0;
}
.color-chips li.color-warning-light p {
  color: #222;
}
.color-chips li.color-success {
  background-color: #33a14b;
}
.color-chips li.color-success-dark {
  background-color: #155d18;
}
.color-chips li.color-success-light {
  background-color: #c5f2c7;
}
.color-chips li.color-success-light p {
  color: #222;
}
.color-chips li.color-link {
  background-color: #0085ff;
}
.color-chips li.color-link-dark {
  background-color: #17205b;
}
.color-chips li.color-link-light {
  background-color: #c5dcfa;
}
.color-chips li.color-link-light p {
  color: #222;
}
.color-chips li.color-red {
  background-color: #ff3737;
}
.color-chips li.color-yellow {
  background-color: #ee9900;
}
.color-chips li.color-green {
  background-color: #33a14b;
}
.color-chips li.color-blue {
  background-color: #0085ff;
}
.color-chips li.color-navy {
  background-color: #0b58a1;
}
.color-chips li.color-bg-1 p, .color-chips li.color-bg-2 p, .color-chips li.color-bg-3 p {
  color: #222;
}
.color-chips li.color-bg-1 {
  background-color: #ebf4ff;
}
.color-chips li.color-bg-2 {
  background-color: #f2f2f2;
}
.color-chips li.color-bg-3 {
  background-color: #fff;
}

.font-100 {
  font-size: 26px;
  font-weight: 100;
}
.font-200 {
  font-size: 26px;
  font-weight: 200;
}
.font-300 {
  font-size: 26px;
  font-weight: 300;
}
.font-400 {
  font-size: 26px;
  font-weight: 400;
}
.font-500 {
  font-size: 26px;
  font-weight: 500;
}
.font-600 {
  font-size: 26px;
  font-weight: 600;
}
.font-700 {
  font-size: 26px;
  font-weight: 700;
}
.font-800 {
  font-size: 26px;
  font-weight: 800;
}
.font-900 {
  font-size: 26px;
  font-weight: 900;
}

.panel-heading {
  background-color: whitesmoke;
  border-radius: 0.2rem 0.2rem 0 0;
  color: #313437;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1.25;
  padding: 0.5em 0.75em;
}

.demo {
  margin: 3em 0;
  padding: 7.5em 0 5.5em;
  background: #26941f;
}
.demo:hover .gridster {
  margin: 0 auto;
  opacity: 0.8;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.demo .content {
  color: white;
}

.gridster .gs-w {
  background: #fff;
  cursor: pointer;
  border-radius: 5px;
}
.gridster .player {
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  background: #bbb;
}
.gridster .gs-w.try {
  background-image: url(../img/sprite.png);
  background-repeat: no-repeat;
  background-position: 37px -169px;
}
.gridster .preview-holder {
  border: none !important;
  border-radius: 0 !important;
  background: red !important;
}
.gridster-handle {
  display: none;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  left: 0;
  padding: 4px 0 6px;
  background: #999;
  font-size: 20px;
  line-height: normal;
  margin-bottom: 20px;
  cursor: move;
  z-index: 10;
}
.gridster ul {
  background-color: #efefef;
}
.gridster li {
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  line-height: 100%;
}
.gridster li:hover .gridster-handle {
  display: block;
}

ul {
  list-style-type: none;
}

li {
  list-style: none;
  font-weight: bold;
}

.gridster-box {
  position: relative;
  width: 100%;
  height: 100%;
}

.controls {
  margin-bottom: 20px;
}

.contents {
  padding: 0 0 1.5rem;
}

.button {
  border-width: 1px;
}

.table-container {
  -webkit-overflow-scrolling: touch;
  overflow: auto;
  overflow-y: hidden;
  max-width: 100%;
  margin-bottom: 1.5rem;
}

.padd {
  display: inline-block;
  margin: 0 1px;
  padding: 0.5em;
  border: 1px solid #eee;
}

.contents {
  padding: 0 0 1.5rem;
}

.button {
  border-width: 1px;
}

.table-container {
  -webkit-overflow-scrolling: touch;
  overflow: auto;
  overflow-y: hidden;
  max-width: 100%;
  margin-bottom: 1.5rem;
}

h1 {
  font-size: 1.5em;
  font-weight: normal;
}

small {
  font-size: 0.66666667em;
}

.hero {
  min-height: 0;
}

.glyph {
  font-size: 16px;
  width: 15em;
  padding-bottom: 1em;
  margin-right: 4em;
  margin-bottom: 1em;
  float: left;
  overflow: hidden;
}

.liga {
  width: 80%;
  width: calc(100% - 2.5em);
}

.talign-right {
  text-align: right;
}

.talign-center {
  text-align: center;
}

.bgc1 {
  background: #f1f1f1;
}

.fgc1 {
  color: #999;
}

.fgc0 {
  color: #000;
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
}

.mvm {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

.mtn {
  margin-top: 0;
}

.mtl,
.mal {
  margin-top: 1.5em;
}

.mbl,
.mal {
  margin-bottom: 1.5em;
}

.mal,
.mhl {
  margin-left: 1.5em;
  margin-right: 1.5em;
}

.mhmm {
  margin-left: 1em;
  margin-right: 1em;
}

.mls {
  margin-left: 0.25em;
}

.ptl {
  padding-top: 1.5em;
}

.pbs,
.pvs {
  padding-bottom: 0.25em;
}

.pvs,
.pts {
  padding-top: 0.25em;
}

.unit {
  float: left;
}

.unitRight {
  float: right;
}

.size1of2 {
  width: 50%;
}

.size1of1 {
  width: 100%;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.hidden-true {
  display: none;
}

.textbox0 {
  width: 3em;
  background: #f1f1f1;
  padding: 0.25em 0.5em;
  line-height: 1.5;
  height: 1.5em;
}

#testDrive {
  display: block;
  padding-top: 24px;
  line-height: 1.5;
}

.fs0 {
  font-size: 16px;
}

.fs1 {
  font-size: 32px;
}

.type-variable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 5px;
}
.type-variable span {
  padding: 1px 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.type-variable strong {
  display: block;
  width: 100%;
}
/*# sourceMappingURL=maps/guide.css.map */
